    @{ var request = Request; }
    <div>
        <p>The full URL is: @request.Url</p>
        <p>The querystring is: @request.QueryString</p>
        <p>The path on this request is: @request.RawUrl</p>
    </div>

